@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #020309;
  color: #fefefe;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  padding: 1em;
}

.div-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #23233454;
  transition-duration: .25s ease-in-out;
}

.title {
  text-align: center;
  margin: 1em;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2.5em;
}

.space_padding {
  padding: 5px 20vmin;
}

select, option{
  appearance: none;
  background-color: #020309;
  color: wheat;
  padding: 1px 10px;
  border-radius: 5px;
}

.div_informs{
  display: none;
  gap: 1em;
  margin: 1em 0 5em 0;
}
.prev_today_city {
  font-size: 14pt;
}

.climate_data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  gap: 1.75em;
}

.climate_icon {
  margin-right: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.15em;
}
.climate_icon::after {
  margin:.5em 0;
  translate: 13em 0;
  content: "";
  position: absolute;
  width: 1px;
  height: 100px;
  background-color: rgba(248, 240, 206, 0.5);
  border-radius: 5px;
}
.icon{
  margin: auto;
}
.climate {
  font-size: 40pt;
}
.subscript{
  vertical-align: text-top;
  font-size: 11pt;
}
.climate_info {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5em;
}

